/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/06/2020, 11:23:28 PM
    Author     : Ãlvaro
*/

.navbar{
    color: rgb(255, 127, 0);
}
footer{
    color: lightgray;
    background-color: #372b27;
}
#inital-content{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.d-block{
    display: block !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.w-100 {
    width: 100% !important;
}
.panel{
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
    color: rgb(255, 127, 0);
}
.btn{
    background-color: rgb(255, 127, 0);
    border:  rgb(255, 127, 0);
    width: 30%;
    align-content: center;
}
.btn:hover{
    color: white;
    background-color: rgb(255, 127, 0);
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    color: gray;
    transition: all 0.3s;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px;
}
#sidebar ul li:hover {
    color: rgb(255, 127, 0);
}
#sidebar li{
    padding-bottom: 10px;
}
.btn-secondary{
    margin-top: 20px;
    width: 550px;
}
.btn-group{
    margin-top: 20px;
}
.checkout button{
    margin-top: 20px;
    width: 100%;
}
.cart-items {
    padding: 15px 1.25rem;
    max-height: 36vh;
    overflow-x: auto;
    margin: 0 -1.25rem;
}
.cart-btn {
    float: left;
    cursor: pointer;
    margin-left: 10px;
}
.cart-items > ul > li .quantity {
    border-radius: 10px;
    position: relative;
    font-weight: normal;
}
.cart-items > ul > li .price {
    padding-left: 15px;
}
.float-right, .pull-right {
    float: right !important;
}
.cart-items > ul > li .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
h4, .h4 {
    font-size: 1.3125rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.text-muted {
    color: #6D6461 !important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
h5, .h5 {
    font-size: 1.09375rem;
}
.checkbox{
    padding-left:30px;
}
.option{
    padding-left:20px;
}